{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block body %}
    {% include 'inc/nav.html.twig' %}

    <form method="post" class="mt-5">
        <div class="form_login_main">
            <h1 class="text-center texth1login ">Connexion</h1>
            <label for="inputEmail">E-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form_email" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <a class="link-dark text-decoration-none d-flex justify-content-center mt-3" href="{{ path('forgotten_password') }}">Mot de passe oublié ?</a>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="d-flex justify-content-center mt-3">
                <button class="button-31" role="button" type="submit">SE CONNECTER</button>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <p><a class="link-dark text-decoration-none" href="{{ path('app_register') }}">Créer un compte ?</a></p>
            </div>
        </div>
    </form>
{% endblock %}
