@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.Inscription_Formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #86b7feed;
    width: 30%;
    height: 557px;
    border-radius: 10px;
    margin-left: 35%;
    position: absolute;
    top: 17px;
    border: 3px solid darkblue;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.Inscription_FormulaireDIV{
    line-height: 6px;
}

.form_login_main{
    width: 40%!important;
    margin-left: 32%;
    line-height: 210%;
}

.form_email{
    margin-bottom: 3%;
}

.bg_formulaire img{
    position: absolute;
    z-index: -1;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.body_form{
    display: flex;
    justify-content: center;
}

.base_login_form{
    background-color: #86b7feed;
    width: 30%;
    height: 315px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10%;
    border: 3px solid darkblue;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.login_form{
    margin-top: 10%;
    width: 70%;
}

.body_form img{
    position:absolute;
    z-index: -1;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.btn_login{
    margin-top: 5%;
}

.custom-card-icon-buy {
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 15px;
    display: flex;
    align-items: center;
}

.card_main_1{
    width: 14rem;
    border: 1px solid rgba(49, 47, 47, 0.24);
    border-radius: 8px;
    transition: transform 0.3s;
}

.card_main_1:hover{
    transform: scale(1.03);
}

.end-0{
    right: -1px!important;
}

.bottom-0 {
    bottom: -1px!important;
}

.card-body_second{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card_a{
    text-decoration: none;
    color: black;
}



@media (min-width: 992px){
    .nav_end{
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
        margin-right: 5%;
    }
}


.card_price{
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.bg_pink {
    border-bottom: 1px solid rgba(128, 128, 128, 0.72);

}

.titleh1{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.button-31 {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 31%;
}

.button-31:hover,
.button-31:focus {
    opacity: .75;
}

.texth1login{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
